@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  @apply h-full bg-white;
  width: 100%;
}

body {
  @apply h-full bg-lime-950 p-2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
